.container {
  max-width: 1120px;
  margin: 0 auto;
}

.main {
  position: absolute;
  left: 0;
  top: 200px;
  width: 100%;
  min-height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;

  .wrapperQuantityPoints {
    width: 100%;
    height: 130px;
    background-color: var(--background);

    .quantityPoints {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;

      span {
        font-size: 14px;
        color: var(--title);
        font-weight: bold;
      }
    }

  }

  .content {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: -110px;
    padding-right: -20px;
    margin-bottom: 20px;

  }
}